<html>
<head>
  <title>Dobi MongoFB Test</title>
  <meta charset="UTF-*" />
  <meta http-equiv="Content-Language" content="en" />

</head>
<body>
<div>Use console to test mongofb</div>
<script type="text/javascript" src="js/jquery.js" ></script>
<script type="text/javascript" src="js/firebase.js" ></script>
<script type="text/javascript" src="js/firebase-simple-login.js" ></script>
<script type="text/javascript" src="js/client.js" ></script>
<script type="text/javascript" src="js/core.js" ></script>
</body>
</html>
